<%= form_for(@lifeless) do |f| %>
  <% if @lifeless.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lifeless.errors.count, "error") %> prohibited this lifeless from being saved:</h2>

      <ul>
      <% @lifeless.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
